@CHARSET "ISO-8859-1";

body{
	    color : white;
        font-size : 20px;
        text-align :center;
        background-image: url("images/emplyee.jpg");

  		height: 500px;
  		background-color: #736F6F;
  /* Center and scale the image nicely */
  		background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
  		margin-left:15%;
  		margin-right:15%;
  		overflow: auto;
		padding: 20px 10px 10px 10px;

}

label{
	width: 10em;
    float: left;
}
a:link {
  	text-decoration: none;
  	background-color:#229465;
  	color: white;
  	padding: 5px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	border-style: outset;
  	font-size: 18px;
  	border-width: 2px;
  	border-radius: 10px;

}

a:hover {
 	background-color: #035544;
 	cursor: pointer;
}


fieldset div{
	height: 25px;
}

fieldset{
		border: black solid thin;
        width: 700px;
        background-color: grey;
}

table, th {
	 	border: 2px solid black;
        border-collapse: collapse;
        background-color: grey;
        padding: 8px;
        table-layout: auto;


}

td {
        border: 2px solid black;
        border-collapse: collapse;
        padding: 8px;
}


table tbody tr:nth-child(odd) {
		background-color: #f2f2f2;
		color : black;
}

table tbody tr:nth-child(even) {
		background-color: #E5E5E5;
        color : black;

}

table#empDetails th:last-child {
	width : 160px;
}

.buttons input, button{
	border-radius : 12px;
	padding : 5px;
	border-style: ridge;
    color: darkgreen;
    background-color: cornsilk;
    cursor: pointer;
    text-decoration: underline;
    font-size: 18px;
    border-color: bisque;
/*     box-shadow: 0 3px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.10) */
}
input[type="button"]:disabled {
    cursor: auto;
}
